@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

#recent-comics-titulo-container{

    height: 10vh;
    width: 100%;

    margin-bottom: 5vh;

}

.titulo-container{

    display:flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    margin-top: 5vh;

}

.titulo-container>h1{

    color: #2B2D42;
    font-family: 'Sour Gummy', sans-serif;
    font-size: 3rem;

}

#recent-comics-data-container{

    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2vw; 

    width: 80%;
    margin-left:10%;  /*me jode el responsive*/
    
}

.recent-comics-comic-container{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.recent-comics-comic-imagen-container {

    height: 40vh; 
    width: auto; 
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    z-index: 1;
}

.recent-comics-comic-imagen-container:hover {

    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    cursor: pointer;

    position: relative;

}

.recent-comics-comic-imagen-container > img{

    height: 100%;

}

.recent-comics-comic-titulo-container{

    margin-top: 2vh;

}

.recent-comics-comic-titulo-container > h1{

    font-size: medium;
    color: #2B2D42;

}

.corazon-container{

    position: absolute;
    z-index: 10;
    top: 5%;
    right: 15%;

}

.corazon-container > img{

    height: 6vh;
    width: auto;
    cursor: pointer;

}

#list-favorite-comics{

    margin-top: 5vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2vw; 
    width: 80%;
    margin-left:10%;

}

@media (max-width: 1200px) {

    #recent-comics-data-container {

      grid-template-columns: repeat(3, 1fr);

    }

    #list-favorite-comics{

        grid-template-columns: repeat(3, 1fr);


    }
}

@media (max-width: 950px) {

    #recent-comics-data-container {

      grid-template-columns: repeat(2, 1fr);

    }

    #list-favorite-comics{

    grid-template-columns: repeat(2, 1fr);

    }

    .corazon-container{

        right: 20%;
    
    }
}

@media (max-width: 600px){

    #recent-comics-data-container {

        grid-template-columns: repeat(1, 1fr);
  
    }
  
    #list-favorite-comics{
  
        grid-template-columns: repeat(1, 1fr);
  
    }
  
    .corazon-container{
  
        right: 30%;
      
    }

    .titulo-container>h1{

        font-size: 2rem;
    
    }

}

