@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

#recent-comics-titulo-container{

    height: 10vh;
    width: 100%;

    margin-bottom: 5vh;

}

.titulo-container{

    display:flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

}

.titulo-container>h1{

    color: #2B2D42;
    font-family: 'Sour Gummy', sans-serif;
    font-size: 3rem;

}

#recent-comics-data-container{

    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2vw; 

    width: 80%;
    margin-left:10%;
    
}

.recent-comics-comic-container{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.recent-comics-comic-imagen-container {

    height: 40vh; 
    width: auto; 
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

    position: relative;
    z-index: 1;
}

.recent-comics-comic-imagen-container:hover {

    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 

}

.recent-comics-comic-imagen-container > img{

    height: 100%;

}

.recent-comics-comic-titulo-container{

    margin-top: 2vh;

}

.recent-comics-comic-titulo-container > h1{

    font-size: medium;
    color: #2B2D42;

}

