#comic-container{

    width: 20%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.foto-comic-container{

    width: 70%;
    height: 70%;

}

.titulo-comic-container{

    color:black;

}
